{% extends 'base.html' %}
{% load static %}

{% block title %}Exporter{% endblock %}

{% block content %}
  <h3>Customer List</h3>
  <div class="{{ container_class|default:"container" }}">
  <div class="jumbotron">
    <form method="GET" id="my_form">
    {% csrf_token %}
    <input type="button" id="submitBtn" value="Submit"/>
    <table class="table table-striped table-condensed table-hover" id="customer-list">
      <thead>
        <tr>
          <th class="col-sm-2">Customer</th>
          <th class="col-sm-2">Email</th>
          <th class="col-sm-3">Company</th>
          <th class="col-sm-2">City</th>
          <th class="col-sm-2">Country</th>
          <th class="col-sm-1">Checkbox</th>
        </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
        <tr>
          <td>{{ customer}}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.company|default:"nil" }}</td>
          <td>{{ customer.city }}</td>
          <td>{{ customer.country }}</td>
          <td><input type="checkbox" name="customer" value="{{ customer.pk }}"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </form>
    </div>
  </div>
  {% endblock %}
  {% block javascripts %}
  {{ block.super }}
  <script src="{% static "js/main.js" %}"></script>
{% endblock %}
